* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
  position: relative;
}

.container {
  width: 1200px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
}

/* con la coma se pueden seleccionar varios elementos */
h1,
h2,
h3,
h4,
p,
li {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #444;
}

h2 {
  position: relative;
}

h2::after {
  content: "TOP 🔝";
  background-color: #ffe70e;
  color: #444;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  right: -15px;
  top: -10px;
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  /* es lo mismo que esto, padding: top,sides */
  padding: 20px 20px;
  /* margin-bottom: 50px; */
}

nav {
  font-size: 18px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 0;
}

h1,
h2,
h3 {
  color: #1098ad;
}

.post-header {
  margin-bottom: 40px;
  /* position: relative; */
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

p {
  font-size: 22px;
  line-height: 1.5;
  /* 1.5 times the font size */
  margin-bottom: 15px;
}

ul,
ol {
  margin-left: 30px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
}

/* con espacios selecciono los hijos de un elemento */
footer p {
  font-size: 16px;
}

/* article header p {
  font-style: italic;
} */

.author,
.related-author {
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
}

.related {
  list-style: none;
  margin-left: 0;
}

/* pseudo class para obtener el primer elemento 
li:first-child {
  font-weight: bold;
}
 pseudo class para obtener el segundo elemento 
li:nth-child(2) {
  font-style: italic;
}
psuedo class para obtener los elementos impares 
li:nth-child(odd) {
  color: red;
} */

/* Styling links */
/* Siempre deben ir en este orde LVHA */
a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

.post-image {
  width: 100%;
  /* height: auto;  si en el html tenemos un tamaño se ajusta al aspect-ratio */
}

/* article {
  margin-bottom: 60px;
} */

.like-button {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

/* floats */
/* 
.author-image {
  float: left;
  margin-bottom: 10px;
}

.author {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}


h1 {
  float: left;
}

nav {
  float: right;
}

.clear {
  clear: both;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

article {
  width: 825px;
  float: left;
}

aside {
  width: 300px;
  float: right;
  padding: 50px 40px;
}

footer {
  clear: both;
}
*/

/* Flexbox */

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author-box {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.author {
  margin-bottom: 0;
  margin-left: 15px;
}

.related:link {
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  display: block;
  margin-bottom: 5px;
}

.related-post {
  gap: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  margin: 30px;
}

/* 
.row {
  display: flex;
  gap: 75px;
  margin-bottom: 60px;
  align-items: flex-start;
}

.article {
  flex: 1;
  margin-bottom: 0px
}

.aside {
  flex: 0 0 300px;
} */

/* Grid */

.container {
  display: grid;
  grid-template-columns: 1fr 300px;
  column-gap: 75px;
  row-gap: 60px;
  align-items: start;
}

.main-header {
  grid-column: 1 / 3;
}

article {
}

aside {
}

footer {
  grid-column: 1 / -1;
}
