* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  line-height: 1;
}

table {
  width: 800px;
  margin: 100px auto;
  border-collapse: collapse;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
  font-size: 18px;
}

thead th {
  color: #fff;
  background-color: #087f5b;
  width: 25%;
}

th,
td {
  padding: 12px 24px;
  text-align: left;
}

tbody tr:nth-child(odd) {
  background-color: #f8f9fa;
}

tbody tr:nth-child(even) {
  background-color: #e9ecef;
}
