/* con la coma se pueden seleccionar varios elementos */
h1,
h2,
h3,
h4,
p,
li {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #444;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5; /* 1.5 times the font size */
}

li {
  font-size: 20px;
}

/* con espacios selecciono los hijos de un elemento */
footer p {
  font-size: 16px;
}

/* article header p {
  font-style: italic;
} */

.author,
.related-author {
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
}

.related {
  list-style: none;
}

.main-header {
  background-color: #f7f7f7;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
}

/* pseudo class para obtener el primer elemento 
li:first-child {
  font-weight: bold;
}
 pseudo class para obtener el segundo elemento 
li:nth-child(2) {
  font-style: italic;
}
psuedo class para obtener los elementos impares 
li:nth-child(odd) {
  color: red;
} */

/* Styling links */
/* Siempre deben ir en este orde LVHA */
a:link {
  color: #1098ad;
  text-decoration: none;
}
a:visited {
  color: #1098ad;
}
a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}
a:active {
  background-color: black;
  font-style: italic;
}
