* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.pagination {
  display: flex;
  width: auto;
  gap: 10px;
  justify-content: space-between;
}

.btn-icon {
  width: 24px;
  height: 24px;
  stroke: #087f5b;
}

.btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #087f5b;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn:hover {
  background-color: #087f5b;
  color: white;
}

.btn:hover .btn-icon {
  stroke: white;
}

.page-number {
  width: 40px;
  border: none;
  background: none;
  font-size: 18px;
  cursor: pointer;
}

.page-number:hover {
  background-color: #087f5b;
  border-radius: 50%;
  color: white;
}
.page-number.active {
  background-color: #087f5b;
  border-radius: 50%;
  color: white;
}
